<% layout("/layouts/boilerplate") %>
<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  const listing = <%- JSON.stringify(listing) %>;
</script>
<body id="show-container">
  <div class="row show-body">
    <div class="col-8 offset-3">
      <h3 style="font-weight: 600; line-height: 4rem"><%= listing.title %></h3>
    </div>
    <div class="card col-6 offset-3 show-card listing-card2">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top show-img"
        alt="Listings-images"
      />
      <div class="card-body">
        <p class="card-text">
          Owened By <i><b><%= listing.owner?.username || 'Unknown' %></b></i>
        </p>
        <p class="card-text"><%= listing.description %></p>
        <p class="card-text">
          &#8377; <%= listing.price.toLocaleString("en-IN")%>
        </p>
        <p class="card-text"><%= listing.location %></p>
        <p class="card-text"><%= listing.country %></p>
      </div>
    </div>
    <% if (currentUser && listing.owner && listing.owner._id &&
    listing.owner._id.equals(currentUser._id)) { %>

    <div class="btns">
      <a
        href="/listings/<%= listing._id %>/edit"
        class="btn btn-danger col-1 offset-3"
        >edit</a
      >

      <form method="POST" action="/listings/<%= listing._id %>/?_method=DELETE">
        <button class="btn btn-danger offset-6">Delete</button>
      </form>
    </div>
    <% } %>
    <div class="btns">
      <a
        href="/listings/<%= listing._id %>/newBookingCreate"
        class="btn btn-danger col-1.2 offset-3 mt-2"
        >Book Now
      </a>
    </div>

    <div class="col-8 offset-3 mb-3">
      <hr />
      <% if (currentUser) { %>
      <h4>leave a Review</h4>
      <form
        action="/listings/<%= listing.id %>/reviews"
        method="POST"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label" name="review[rating]"
            >Rating</label
          >
          <fieldset class="starability-slot">
            <legend></legend>
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="review[rating]"
              value="1"
              checked
              aria-label="No rating."
            />
            <input
              type="radio"
              id="first-rate1"
              name="review[rating]"
              value="1"
            />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input
              type="radio"
              id="first-rate2"
              name="review[rating]"
              value="2"
            />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input
              type="radio"
              id="first-rate3"
              name="review[rating]"
              value="3"
            />
            <label for="first-rate3" title="Average">3 stars</label>
            <input
              type="radio"
              id="first-rate4"
              name="review[rating]"
              value="4"
            />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input
              type="radio"
              id="first-rate5"
              name="review[rating]"
              value="5"
            />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>

        <div class="mb-3 mt-3">
          <label for="comment">Comment</label>

          <textarea
            name="review[comment]"
            id="comment"
            class="form-control"
            cols="30"
            rows="5"
            required
          ></textarea>
          <div class="invalid-feedback">please add some comment for review</div>
          <button class="btn btn-outline-dark mt-3">Submit</button>
        </div>
      </form>
      <hr />
      <% } %> <% if (listing.reviews.length > 0) { %>
      <div class="row">
        <p><b>All Reviews</b></p>
        <% for(review of listing.reviews ) { %>
        <div class="card ms-3 mb-3 col-5">
          <div class="card-body">
            <h5 class="card-title">@<%= review.author.username %></h5>
            <p
              class="starability-result card-text"
              data-rating="<%= review.rating %>"
            ></p>
            <p class="card-text"><%=review.comment%></p>

            <form
              class="mb-3"
              method="POST"
              action="/listings/<%= listing._id %>/reviews/<%=review._id%>?_method=DELETE"
            >
              <button class="btn btn-sm btn-dark">Delete</button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>
    <div class="row-1">
      <div class=".col-8 offset-3 mb-3">
        <h3>Where you'll be</h3>
        <div id="map"></div>
      </div>
    </div>
    <br /><br />
    <div class="row-1">
      <h4>All Booking Lists</h4>
      <ul>
        <% if (listing && listing.bookings) { %> <% for(let booking of
        listing.bookings) { %>
        <p><%= booking %></p>
        <form
          method="POST"
          action="/listings/<%= listing._id %>/bookings/<%= booking._id %>?_method=DELETE"
        >
          <button class="btn btn-sm btn-dark">Delete</button>
        </form>
        <% } %> <% }%>
      </ul>
    </div>
  </div>
  <script src="/js/map.js"></script>
</body>
